<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9Tpobdl7svr3y9mndfTxnaUKacVHDxUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748989953728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deligence.hookup4u2</string>
	<key>PROJECT_ID</key>
	<string>hookup4u-b9408</string>
	<key>STORAGE_BUCKET</key>
	<string>hookup4u-b9408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748989953728:ios:5a5478a0bc5a05266adf25</string>
</dict>
</plist>